/* Put your CSS code in the left column, instead of example, to put or remove unnecessary prefixes. */

    @font-face {
    font-family: "comic";
    src: url("../../fonts/IHATCS__.TTF");
}

@font-face {
    font-family: "janda";
    src: url("../../fonts/Janda.ttf");
}

@font-face {
    font-family: "bosk";
    src: url("../../fonts/Bosk1.ttf");
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #271300;
}

.backGround {
    background-color: #2492ff;
}

h1,
h4 {
    font-family: "bosk";
    color: #3A1B02;
    letter-spacing: 5px;
}

h3 {
    color: #3A1B02;
    letter-spacing: 5px;
}

h2 {
    font-family: "janda";
    letter-spacing: 4px;
    color: #3A1B02;
}

.span12 h2 {
    position: relative;
    top: 25px;
}

.grp-ado-titre h2 {
    position: inherit;
}

a,
a:visited {
    color: inherit !important;
}

#modal-parcours {
    margin-top: 200px;
}

.modal-content img {
    width: 100%;
}

.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 30px;
    background-color: rgba(11, 113, 21, 0.8);
    border: 2px solid #FF6620;
    border-radius: 5px;
}

.modal-footer .fa-cloud-download,
.fa-star,
.close {
    color: #FF6620;
}

.modal-footer .fa-cloud-download:hover,
.fa-star:hover {
    color: rgba(255, 102, 32, 0.5);
    text-shadow: 1px 1px 2px #000;
}

.fmslider_dots li a>span {
    background-color: #e8a306;
}

.fxEmbossBtn .btn_hover {
    background-color: darkgreen !important;
}

.fmSlider_plaPau .fmSlider_plaPau_icon {
    background-color: #f5a52d !important;
}


/*NAVIGATION*/

.header {
    background: #054312;
    height: 350px;
}

.header.menuType2 .header_content>ul>li {
    background-color: #054312;
}

.header ul.nav>li a {
    color: #fff !important;
    font-family: "comic" !important;
    font-size: 15px !important;
    letter-spacing: 2px;
}

.header ul.nav>li a.active {
    color: aqua !important;
}

.header ul.nav>li a:hover {
    color: inherit !important;
    color: darkorange !important;
}

.contactusForm .dashedBorder {
    background-color: rgba(4, 64, 4, 0.75);
    color: #fff;
}

#email_submit {
    color: #fff !important;
}

.font_awesome img {
    width: 50px;
}

.font_awesome li a {
    border: none;
}

.header ul.nav>li a:hover {
    color: darkorange !important;
}


.logo_f a div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 90px;
    padding: 1%;
    background-position: center;
    background-image: url("http://i.imgur.com/FOmTPZD.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.logo_f2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.logo_f2 img {
    height: 50px;
    width: 120px;
}


/*FIN NAVIGATION*/

.home {
    z-index: 502;
}

.masquotte {
    position: fixed;
    top: 189px;
    left: 25px;
    height: 250px !important;
    z-index: 501;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    -o-transform: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    40% {
        -webkit-transform: rotate(-4deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    40% {
        -webkit-transform: rotate(-4deg);
                transform: rotate(-4deg);
    }
}

.corde {
    position: fixed !important;
    top: 190px;
    height: 5px;
    width: 17000px;
    z-index: 501;
    background-image: url('../../assets/masquotte/corde.png');
    background-size: contain;
    background-position: top;
}


/*// contenu page //*/

.mCSB_container {
    background-color: dodgerblue;
}


/*// page 1 //*/


/*VIDEO*/

.position_video {
    position: absolute;
    height: 100%;
    width: 100%;
}

.video_etat1 {
    display: none;
}

.video_etat2 {
    opacity: 1;
}

.font_img_bgVideo {
    height: 500px;
    width: 900px;
    background-color: rgba(255, 246, 212, 0.38);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


.play_video {
    position: absolute;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
}

.play_video:hover {
    padding-top: 2px;
}


/*FIN VIDEO*/


/*// page 2 //*/

.bg_forest {
    height: 100%;
    position: fixed;
}

.overlayBg.dark {
    background-color: inherit !important;
    height: 100%;
}


/*// page 3 //*/

.description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}

.description .image0 {
    width: 31% !important;
}

.description .image1 {
    width: 31%;
}

.description .image0bis {
    width: 320px;
    height: 120px;
}

.preload {
    width: 60%;
}

.img-saut {
    position: absolute;
    bottom: 0;
    right: 20%;
}

.actu {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1.5%;
}

.infoactu {
    font-size: 24px;
}

.documentation {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 73%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.documentation section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
}

.documentation article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 550px;
    padding: 5px;
}

.documentation a {
    color: #FF6620 !important;
    font-size: 20px;
    font-weight: bold;
    font-family: "comic";
}

.documentation a:hover {
    color: rgba(255, 102, 32, 0.5);
    text-shadow: 1px 1px 2px #000;
}

.prix img {
    width: 20%;
    margin-bottom: 20px;
}


/*Formule*/

.doc-formule {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgb(249, 174, 32);
    margin: 1%;
    padding: 1%;
    width: 90%;
    border-radius: 2%;
}

.doc-form-sec,
.doc-form1-sec,
.doc-form2-sec,
.doc-form3-sec {
    height: 110px !important;
}

.doc-form-sec {
    margin-right: 20px;
}

.formule {
    font-family: "comic";
    color: #3A1B02;
    letter-spacing: 3px;
    text-align: center;
    font-size: 24px;
}

.descrip-form,
.descrip-form1,
.descrip-form2,
.descrip-form3 {
    text-align: center;
    line-height: 16px;
}

.form_height {
    border-radius: 20px;
}

.footer-doc-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90%;
    height: 50px;
    color: #fff;
    background-color: #FF7300;
}

.footer-doc-form p {
    font-family: "comic";
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 10px !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: inherit;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


/*Formule1*/

.doc-formule1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgb(166, 232, 14);
    margin: 1%;
    padding: 1%;
    width: 90%;
    border-radius: 2%;
}

.doc-form1-sec {
    margin-left: -120px;
    margin-top: -10px;
}

.doc-form1-sec img {
    width: 50px;
    height: 50px;
    margin-left: 22px;
}

.formule1 {
    font-family: "comic";
    color: #3A1B02;
    letter-spacing: 3px;
    text-align: center;
    font-size: 24px;
}

.descrip-form1 {
    margin-top: -2px;
}

.footer-doc-form1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90%;
    height: 50px;
    color: #fff;
    background-color: #7CB200;
}

.footer-doc-form1 p {
    font-family: "comic";
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 10px !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: inherit;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


/*Formule2*/

.doc-formule2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgb(40, 164, 239);
    margin: 1%;
    padding: 1%;
    width: 90%;
    border-radius: 5%;
}

.doc-form2-sec {
    margin-left: -100px;
    margin-top: -10px;
}

.doc-form2-sec img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.formule2 {
    font-family: "comic";
    color: #3A1B02;
    letter-spacing: 3px;
    text-align: center;
    font-size: 24px;
    
}

.descrip-form2 {
    margin-top: -2px;
}

.footer-doc-form2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90%;
    height: 50px;
    color: #fff;
    background-color: #0166FF;
    height: 50px;
}

.footer-doc-form2 p {
    font-family: "comic";
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 10px !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: inherit;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


/*Formule3*/

.doc-formule3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgb(243, 39, 39);
    margin: 1%;
    padding: 1%;
    width: 90%;
    border-radius: 2%;
}

.doc-form3-sec {
    margin-left: -90px;
    margin-top: -10px;
}

.doc-form3-sec img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.formule3 {
    font-family: "comic";
    color: #3A1B02;
    letter-spacing: 3px;
    text-align: center;
    font-size: 24px;
}

.descrip-form3 {
    /*font-size: 14px;*/
    margin-top: -2px;
}

.footer-doc-form3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90%;
    height: 50px;
    color: #fff;
    background-color: rgba(230, 29, 29, 0.86);
    ;
    height: 50px;
}

.footer-doc-form3 p {
    font-family: "comic";
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 10px !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: inherit;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


/*Formule4*/

.doc-formule4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgb(82, 82, 82);
    margin: 1%;
    margin-bottom: 20px;
    padding: 1%;
    width: 90%;
    border-radius: 2%;
}

.doc-form4-sec {
    margin-left: -40px;
    margin-top: -10px;
}

.doc-form4-sec img {
    width: 50px;
    height: 50px;
    margin-left: 27px;
}

.formule4 {
    font-family: "comic";
    color: #1f0f02;
    letter-spacing: 3px;
    text-align: center;
    font-size: 24px;
}

.descrip-form4 {
    /* font-size: 14px;*/
    margin-top: -2px;
}

.width-lien {
    width: 90% !important;
}

.lien-reserv {
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    border-radius: 10px;
}

.lien-reserv p {
    padding-top: 10px;
    text-align: center;
}


/*PARCOURS*/

.parcours {
    position: relative;
    top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: #292020 2px 4px 9px;
            box-shadow: #292020 2px 4px 9px;
}

.box-sec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
}

.parcours img {
    height: 50px;
    width: 150px;
}

.parcour_imgForest {
    height: 450px !important;
    width: 850px !important;
}


.titre_lasergame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.titre_lasergame img {
    position: relative;
    top: 12px;
    margin-right: 10px;
}

.flyer_laser {
    position: relative;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.laser {
    width: 20%;
    cursor: pointer;
    margin-top: 100px;
    -webkit-box-shadow: #292020 2px 4px 9px;
            box-shadow: #292020 2px 4px 9px;
}

.options {
    position: relative;
    top: 50px;
    width: 70%;
    height: auto;
    border-radius: 2%;
    margin-top: 4%;
}

.sec_options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.sec_options article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 1%;
    padding: 1%;
    width: 50%;
}

.options a {
    color: #FF6620 !important;
    font-size: 20px;
    font-weight: bold;
    font-family: "comic";
}

.options a:hover {
    color: rgba(255, 102, 32, 0.5);
    text-shadow: 1px 1px 2px #000;
}

.organisation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30%;
    height: 430px;
    background-color: rgba(239, 59, 191, 0.91);
    border-radius: 2%;
}

.organisation p {
    font-size: 18px;
    color: #000;
    padding: 5px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.63);
}

.reservation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30%;
    height: 430px;
    background-color: rgba(15, 115, 241, 0.88);
    border-radius: 2%;
    margin: 1%;
}

.options .organisation h3 {
    color: #311905 !important;
    font-size: 2em;
    text-align: center;
}

.options .reservation h3 {
    color: #311905;
}

.options .reservation p {
    font-size: 14px;
    margin-top: -13px;
    color: #000;
}

.options .reservation p:nth-child(5) {
    background-color: #bbe2e2;
    border-radius: 15px;
    padding: 5px;
}

.options .reservation a {
    text-shadow: 1px 1px 2px #000;
}

.formules-anniv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30%;
    height: 430px;
    background-color: rgba(6, 230, 127, 0.93);
    border-radius: 2%;
}

.formules-anniv h3 {
    font-size: 2em;
    color: #311905;
    text-align: center;
}

.form-anniv-accro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 45px;
    background-color: #237201;
    border-radius: 2%;
    cursor: pointer;
}

.form-anniv-accro:hover {
    -webkit-box-shadow: 1px 1px 2px #000;
            box-shadow: 1px 1px 2px #000;
}

.form-anniv-accro p {
    position: absolute;
    color: #fff;
    font-family: "comic";
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.form-anniv-laser {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 45px;
    background-color: #9D0A0F;
    border-radius: 2%;
    cursor: pointer;
}

.form-anniv-laser:hover {
    -webkit-box-shadow: 1px 1px 2px #000;
            box-shadow: 1px 1px 2px #000;
}

.form-anniv-laser p {
    position: absolute;
    color: #fff;
    font-family: "comic";
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.form-anniv-pass {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 45px;
    background-color: #F87103;
    border-radius: 2%;
    cursor: pointer;
}

.form-anniv-pass:hover {
    -webkit-box-shadow: 1px 1px 2px #000;
            box-shadow: 1px 1px 2px #000;
}

.form-anniv-pass p {
    position: absolute;
    color: #fff;
    font-family: "comic";
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.grp-titres {
    position: relative;
    top: 18px;
}

.grp-titres h3 {
    position: relative;
    top: 35px;
    font-size: 1.6em;
}

.grp-titres h4 {
    position: relative;
    font-size: 1.6em;
}

.groupes {
    position: relative;
    top: 60px;
    width: 900px;
    height: 450px;
    text-align: center;
}

.grp-ado-titre {
    width: 100%;
    padding: 1%;
}

.grp-ado-titre h3 {
    position: relative;
    top: 20px;
    text-align: center;
    font-family: "comic";
    font-weight: bold;
    font-size: 18px;
}

.grp-ado-titre h4 {
    position: relative;
    top: 15px;
}

.grp-sec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 80%;
}

.grp-sec h3 {
    font-size: 20px;
}

.formule-ado {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30%;
    height: 80%;
    background-color: rgba(255, 153, 0, 0.88);
    padding: 1%;
    border-radius: 2%;
}

.form-accro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 40px;
    background-color: #237201;
    border-radius: 2%;
    cursor: pointer;
}

.form-accro:hover {
    -webkit-box-shadow: 1px 1px 2px #000;
            box-shadow: 1px 1px 2px #000;
}

.form-accro p {
    position: absolute;
    color: #fff;
    font-family: "comic";
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
}

.form-laser {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 40px;
    background-color: #9D0A0F;
    border-radius: 2%;
    cursor: pointer;
}

.form-laser:hover {
    -webkit-box-shadow: 1px 1px 2px #000;
            box-shadow: 1px 1px 2px #000;
}

.form-laser p {
    position: absolute;
    color: #fff;
    font-family: "comic";
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
}

.form-pass {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 40px;
    background-color: #F87103;
    border-radius: 2%;
    cursor: pointer;
}

.form-pass:hover {
    -webkit-box-shadow: 1px 1px 2px #000;
            box-shadow: 1px 1px 2px #000;
}

.form-pass p {
    position: absolute;
    color: #fff;
    font-family: "comic";
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
}

.formule-adulte {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30%;
    height: 80%;
    background-color: rgba(77, 20, 249, 0.88);
    padding: 1%;
    border-radius: 2%;
}

.formule-edv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30%;
    height: 80%;
    background-color: rgba(85, 241, 28, 0.82);
    padding: 1%;
    border-radius: 2%;
}

.groupes a {
    color: #FF6620 !important;
    font-size: 20px;
    font-weight: bold;
    font-family: "comic";
}

.groupes a:hover {
    color: rgba(255, 102, 32, 0.5);
    text-shadow: 1px 1px 2px #000;
}

.contactPage {
    z-index: 502;
}

.maps {
    width: 480px;
    height: 250px;
}


/*// footer //*/

.row-footer {
    width: 100%;
}

.footer {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(8, 74, 8, 0.73);
    width: 100%;
    z-index: 1000;
    padding: 0.5%;
}

.foo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.foo img {
    height: 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.fa-facebook-square {
    color: rgb(12, 192, 251);
    position: relative;
    top: 7px;
}

.fa-copyright {
    position: relative;
    color: #07a751;
    top: 8px;
}

.fa-tripadvisor {
    color: #da7c09;
    position: relative;
    top: 7px;
    padding-left: 5px;
}

#email_nav {
    font-family: janda;
    font-size: 1.2em;
    margin-right: 50px;
}

#actu-title {
    margin-bottom: 50px;
}

#actu-news {
    margin-right: 30px;
    line-height: 30px;
}

#fb_icon {
    margin-right: 15px;
}

#mapid {
    height: 400px;
    width: 800px;
}

#contact_forest {
    height: 75px;
    width: 150px;
}

.page_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 50px 0 50px;
}

.send-mail {
    margin-top: 100px;
}

.title i {
    margin-right: 10px;
}

/* #################### FAT SCREEN (Width = 1600px) #############*/

@media only screen and (max-width: 1600px) {
    .header ul.nav>li a {
        letter-spacing: inherit;
    }
    
    .bg_forest {
            height: 100%;
    }
}
    /* #################### MID SCREEN (Width = 1400px) #############*/
    @media only screen and (max-width: 1400px) {
        .form-anniv-accro p, .form-anniv-laser p, .form-anniv-pass p {
            font-size: 14px;
        }
      
    }
    /* #################### MID SCREEN (Width = 1340px) #############*/
    @media only screen and (max-width: 1340px) {
        .laser {
            margin-top: 125px;
            width: 30%;
        }
        .header ul.nav>li a {
            font-size: 12px !important;
        }
        .header_content ul li a {
            padding: 2px 4px;
        }
        .actu {
            padding-bottom: 10%;
            padding-top: 10%;
        }
        .formules-anniv {
            height: 100%;
        }
        .organisation {
            height: 100%;
        }
        .reservation {
            height: 100%;
        }
        .form-anniv-accro,
        .form-anniv-laser,
        .form-anniv-pass {
            margin-bottom: 5px;
            width: 80%;
        }
        .form-anniv-accro p,
        .form-anniv-laser p,
        .form-anniv-pass p {
            font-size: inherit;
            letter-spacing: 5px;
        }
        .sec_options {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
        .sec_options article {
            margin: 0.3%;
            width: 100%;
            padding: 8px;
        }
        #footer .footer {
            position: fixed !important;
        }
    }
    /* #################### MID SCREEN (Width = 1170px) #############*/
    @media only screen and (max-width: 1170px) {
        #forest_load {
            height: 40px;
            width: 70px;
        }
        #parcours_load {
            height: 35x;
            width: 60px;
        }
        #lazer_load {
            height: 40px;
            width: 70px;
        }
        .page_header {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
        .page_header ul {
            margin-top: 50px;
        }
        .item_feature {
            height: 150px;
        }
        #footer .footer {
            position: fixed !important;
        }
        /*formule_et_tarif*/
        .documentation {
            width: 90%;
        }
        .formule,
        .formule1,
        .formule2,
        .formule3,
        .formule4 {
            font-size: 1em;
        }
        .descrip-form,
        .descrip-form1,
        .descrip-form2,
        .descrip-form3,
        .descrip-form4 {
            line-height: 15px;
        }
        .footer-doc-form,
        .footer-doc-form1,
        .footer-doc-form2,
        .footer-doc-form3 {
            padding: 15px;
        }
        .footer-doc-form p,
        .footer-doc-form1 p,
        .footer-doc-form2 p,
        .footer-doc-form3 p {
            font-size: 0.8em;
            
        }
    }
    /* #################### MID SCREEN (Width = 1040px) #############*/
    @media only screen and (max-width: 1040px) {
        
        .laser {
            margin-top: 175px;
            height: 720px;
            width: 400px;
        }
        .logo_f a div {
            width: 400px;
            height: 75px;
        }
        .page_header {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
        .page_header ul {
            margin-top: 50px;
        }
        .item_feature {
            height: 150px;
        }
        
        .organisation p {
            font-size: 1.5em;
        }
    }
    /* #################### MID SCREEN (Width = 1024px) #############*/
    @media only screen and (max-width: 1024px) {
        .logo_f a div {
            width: 275px;
            height: 50px;
        }
        .documentation article {
            height: 800px;
        }
        .descrip-form,
        .descrip-form1,
        .descrip-form2,
        .descrip-form3,
        .descrip-form4 {
            font-size: small;
        }
        .form-anniv-accro p,
        .form-anniv-laser p,
        .form-anniv-pass p {
            font-size: 0.8em;
        }
        
        .doc-form-sec, .doc-form1-sec, .doc-form2-sec, .doc-form3-sec {
            height: 80px !important;
        }
    }
    /* #################### MID SCREEN (Width = 700px) #############*/
    @media only screen and (max-width: 800px) {
        .footer-doc-form,
        .footer-doc-form1,
        .footer-doc-form2,
        .footer-doc-form3 {
            font-size: 0.8em;
        }
        .form-anniv-accro p,
        .form-anniv-laser p,
        .form-anniv-pass p {
            letter-spacing: 3px;
        }
        
            /* accueil */
    .video_etat1 {
        display: block;
    }
    
    .play_video {
        display: none;
    }
    .font_img_bgVideo {
        height: inherit;
        top: 120px;
    }
    }