 /* MOBILE RESPONSIVE IPHONE 5 */
@media only screen and (max-width: 330px) {
   
    .logo_f a div {
        background-image: url(http://i.imgur.com/iBjf40O.png);
        background-position: left;
    }
    
    .descrip-form,
    .descrip-form1,
    .descrip-form2,
    .descrip-form3,
    .descrip-form4 {
        font-size: 9px;
        color: black !important;
    }
    .formule4 {
        font-size: 12px;
    }
    .organisation p {
        font-size: 0.6em;
    }
    .formule-edv {
        background-color: rgba(182, 255, 155, 0.5);
        height: 100%;
        width: 100%;
        padding: 8px;
    }
    .formule-adulte {
        background-color: rgba(107, 58, 255, 0.67);
        height: 100%;
        width: 100%;
        padding: 8px;
    }
    .formule-ado {
        background-color: rgba(255, 166, 72, 0.84);
        height: 100%;
        width: 100%;
        padding: 8px;
    }
    .form-accro,
    .form-laser,
    .form-pass {
        margin: 7px;
    }
    .form-accro p,
    .form-laser p,
    .form-pass p {
        letter-spacing: inherit;
    }
    .lien-reserv p {
        position: relative;
        line-height: inherit;
        font-size: 14px;
    }
    .lien-reserv {
        width: 100%;
    }
    .form-anniv-laser p,
    .form-anniv-accro p,
    .form-anniv-pass {
        font-size: 12px !important;
    }
    h3 {
        font-size: 1em !important;
        top: 8px;
    }
    
    #mapid {
        bottom: 35px;
    }
}

 /*JUST FOR LOGO MOBILE*/
@media only screen and (max-width: 370px) {
       .logo_f a div {
        background-image: url(http://i.imgur.com/iBjf40O.png);
        background-position: left;
    }
}
 /*JUST FOR BACKGROUND MOBILE*/
@media only screen and (max-width: 1130px) {
    .bg_forest {
        background-color: dodgerblue !important;
        position: inherit;
        min-height: 1050px;
    }
}
