/*SMARTPHONE */

@media only screen and (max-width: 420px) {
    
    h3 {
        letter-spacing: 2px;
    }
    
    /*loader*/
    .loader div {
        display: flex;
        justify-content: space-between;
    }
    .arbre_load {
        flex-direction: row;
        position: absolute;
        top: 480px;
        height: 130px;
        width: 120px;
    }
    .forest_load {
        position: absolute;
        height: 60px;
        width: 80px;
        top: 110px;
    }
    .parcours_load {
        position: absolute;
        height: 40px;
        width: 60px;
        top: 420px;
        left: 150px;
    }
    .lazer_load {
        position: absolute;
        height: 50px;
        width: 70px;
        top: 220px;
        left: 150px;
    }
    /*loader*/
    

    .fa-2x {
        font-size: inherit;
    }
    
    .fa-star {
        display: none !important;
    }
    
    .bg_forest {
        background-color: dodgerblue !important;
        position: inherit;
        min-height: 680px;
    }
    
    /*logo nav*/
    
    .nav li a {
        letter-spacing: 4px !important;
    }
    
   .header ul.nav>li a.active {
        color: #ff9d00 !important;
    }
    
    .logo_f a img:first-child {
        width: 80%;
    }
    
    .logo_f a img:nth-child(2) {
        width: 22%;
        height: 10%;
        position: relative;
        right: 50px;
    }
    /*img presentation*/
    
    .image0bis {
        width: 120px !important;
        height: 80px !important;
    }
    .img-saut {
        height: 120px;
    }
    .home_img img {
        height: 80px;
    }
    .logo_f2 {
     display: none;
    }
    .actu {
        position: relative;
        top: 40px;
    }
    
    #actu-news {
        text-align: center;
        font-size: 1em !important;
    }
    
    .center_bg {
        text-align: center;
    }
    /*footer*/
    
   #footer .footer {
        position: fixed !important;
    }
    
    .row-footer  {

    display: flex;
    justify-content: inherit;
    width: 150%;

    }
    
    #email_nav {
        font-size: 1em;
    }
    
    .tiny_font {
        display: none;
    }
    .foo i {
        padding: 1px;
        margin: 3px;
        position: relative;
    }
    .masquotte {
        display: none;
    }
    .corde {
        display: none;
    }
    p {
        font-size: 10px;
    }
    /* logo forest contact  */
    .bold_weight img {
        height: 100px;
        width: 300px;
    }
    .contactPage {
        background-color: dodgerblue !important;
    }
    /* bouton slider*/
    .navigations {
        bottom: 20px !important;
    }
    .fmEmbossBtn {
        background-color: darkgreen;
    }
    /*FORMULE ET TARIF*/
    
    .grp-titres .FM_md {
        position: relative;
        bottom: 15px;
    } 
    
    .formule,
    .formule1,
    .formule2,
    .formule3,
    .formule4,
    .formule5 {
        font-size: 1.2em;
        position: relative;
        letter-spacing: 2px;
    }
    .formule4 {
        position: relative;
        top: 7px;
        left: 25px;
    }
    .documentation {
        display: block;
        width: inherit;
        margin-left: 2%;
    }
    
    .documentation article {
        height: inherit;
    }
    
    .descrip-form,
    .descrip-form1,
    .descrip-form2,
    .descrip-form3,
    .descrip-form4 {
        position: relative;
        font-size: 0.8em;
        line-height: 12px;
    }
    .descrip-form1 {
        bottom: 5px;
    }
    .descrip-form2 {
        bottom: 5px;
    }
    .doc-formule,
    .doc-formule1,
    .doc-formule2,
    .doc-formule3,
    .doc-formule4 {
        position: relative;
        width: 100%;
    }
    .doc-formule {
        height: 110px;
    }
    .doc-formule1 {
        height: 160px;
    }
    .doc-formule2 {
        height: 159px;
    }
    .doc-formule3 {
        height: 138px;
    }
    .doc-formule4 {
        height: 110px;
    }
    .footer-doc-form,
    .footer-doc-form1,
    .footer-doc-form2,
    .footer-doc-form3,
    .footer-doc-form4 {
        width: 100%;
        height: 69px;
    }
    .footer-doc-form p,
    .footer-doc-form1 p,
    .footer-doc-form2 p,
    .footer-doc-form3 p,
    .footer-doc-form4 p {
        font-size: 12px;
        line-height: 12px;
    }
    .documentation .lien-reserv {
        position: relative;
        padding-top: 9px;
        border-radius: 10px;
    }
    .doc-form-sec img,
    .doc-form1-sec img,
    .doc-form2-sec img,
    .doc-form3-sec img,
    .doc-form4-sec img {
        /* width: 40px;
        height: 40px;*/
        display: none;
    }
    .doc-form4-sec {
        position: relative;
        right: 30px;
    }
    /*LASER*/
    .laser {
        width: 75%;
        position: relative;
        bottom: 100px;
        box-shadow: 1.5px 1.5px 9px black;
    }
    .parcours {
        position: relative;
        top: 70px;
        width: 90%;
        margin: inherit;
    }
    .parcour_imgForest {
        height: 220px !important;
        width: 95% !important;
    }
    h5 {
        font-size: 30px;
    }
    .item_feature.no_border {
        font-size: 20px;
    }
    /*ANNIVERSAIRE*/
    .sec_options {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sec_options article {
        margin: inherit;
        padding: 10px;
        width: 95%;
        height: 70%;
    }
    .options {
        width: 75%;
    }
    .organisation {
        background-color: rgba(225, 131, 178, 0.68);
    }
    .organisation p {
        font-size: 1em;
        line-height: 18px;
    }
    .organisation h3 {
        line-height: 12px;
    }
    .reservation {
        background-color: rgba(104, 163, 236, 0.77);
    }
    .reservation p {
        line-height: 12px;
    }
    .lien-reserv p {
        line-height: 13px;
        font-size: 0.8em;
    }
    .formules-anniv .lien-reserv p {
        line-height: 12px;
    }
    
    .formules-anniv h3, .organisation h3, .reservation h3  {
        letter-spacing: 4px;
        font-size: 1.3em !important;
    }
    
    
    .formule-edv, .formule-ado, .formule-adulte {
        height: 100%;
        width: 100%;
        padding: 8px;
    }
    .form-anniv-laser p,
    .form-anniv-accro p,
    .form-anniv-pass p {
        font-size: 13px;
        letter-spacing: inherit;
    }
    .form-anniv-accro,
    .form-anniv-laser,
    .form-anniv-pass {
        height: 35px;
        position: relative;
        border-radius: 5px;
        margin: 2px;
    }
    /*GROUPES*/
    .grp-ado-titre h2 {
        font-size: 20px !important;
    }
    .grp-ado-titre h3 {
        font-size: 15px !important;
    }
    .grp-ado-titre h4 {
        font-size: 15px !important;
    }
    .grp-sec {
        display: flex;
        flex-direction: column;
        align-items: inherit !important;
    }
    .groupes {
        position: relative;
        top: 50px;
        height: 100%;
        width: 70%;
    }
    .form-accro p,
    .form-laser p,
    .form-pass p {
        font-size: medium;
        position: relative;
        top: 8px;
    }
    
    .form-accro,  .form-laser,  .form-pass  {
        height: 40px;
        padding: 15px;
        margin-bottom: 5px;
    }
    
}

@media only screen and (max-width: 1000px) {
    
    
}
